<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PubNub</key>
	<dict>
		<key>publishKey</key>
		<string>pub-c-c7089ef3-b6f5-444d-b5ed-a907298210a5</string>
		<key>subscribeKey</key>
		<string>sub-c-f421ba24-4420-11e6-85a4-0619f8945a4f</string>
	</dict>
	<key>Twitter</key>
	<dict>
		<key>consumerKey</key>
		<string></string>
		<key>consumerSecret</key>
		<string></string>
		<key>tweetURL</key>
		<string></string>
	</dict>
	<key>Amazon</key>
	<dict>
		<key>accessKeyId</key>
		<string></string>
		<key>secretAccessKey</key>
		<string></string>
		<key>region</key>
		<string></string>
		<key>imagesBucket</key>
		<string></string>
		<key>streamBucket</key>
		<string></string>
	</dict>
	<key>Wowza</key>
	<dict>
		<key>host</key>
		<string>spectator.live</string>
		<key>port</key>
		<string>1935</string>
		<key>application</key>
		<string>live</string>
		<key>username</key>
		<string>wowza</string>
		<key>password</key>
		<string>Champ1gn!!</string>
	</dict>
	<key>Feedback</key>
	<dict>
		<key>email</key>
		<string></string>
	</dict>
	<key>Legal</key>
	<dict>
		<key>termsOfService</key>
		<string></string>
		<key>privacyPolicy</key>
		<string></string>
	</dict>
	<key>API</key>
	<dict>
		<key>media</key>
		<string>http://spectator.live</string>
		<key>site</key>
		<string>http://beinit.live</string>
		<key>host</key>
		<string>http://beinit.live/api</string>
	</dict>
</dict>
</plist>
